/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/* запрет выделения текста на странице */
body {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
/*--------------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}

section, footer, header {
    padding: 0 18%;
}
/* HEADER */
header {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 28px 18%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .5s;
}
header.sticky {
    background: white;
    box-shadow: 0 5px 20px (0, 0, 0, .05);
}
.burgerMenu {
    z-index: 100000;
    display: none;
    transition: .5s;
}
.nav {
    width: 464px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header.sticky .nav__link ,
header.sticky .nav__elem,
header.sticky .nav__elem:hover {
    color: black;
}
header.sticky .logo {
    color: black;
}
.nav__elem {
    color: white;
    height: 24px;
    transition: 0.5s;
}
.nav__elem:hover {
    border-bottom: 1px solid white;
}
.nav__link {
    color: white;
    line-height: 24px;
}
.logo {
    z-index: 100000;
    color: white;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}
.logo img {
    width: 37px;
    margin-right: 9px;
}
/* BANNER SECTION */
.banner {
    padding: 0;
    width: 100vw;
    /* длина всего макета 4613px, длина блока - 960px 
    что составляет 20.81%*/
    height: 100vh;
    /* height: 960px; */
    background: url('../img/header_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;  
    background-color: blue;
    padding-bottom: 30px;
}
.banner__colorOverlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(42, 108, 234, .8);
    padding-top: 26px;
}
.slogan {
    color: white;
}
.slogan__headline {
    /* 746px на макете 1920px - 38.96% */
    max-width: 746px;
    margin: 259px auto 0;
    font-weight: 600;
    font-size: 52px;
    line-height: 64px;
    text-align: center;
}
.slogan__subline {
    margin: 18px auto 0;
    max-width: 480px;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
}

.button {
    height: 64px;
    width: 100%;
    padding: 20px auto;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}
.banner__button{
    display: block;
    width: 251px;
    margin: 92px auto;
    background: white;
}

/* DESCRIPTION SECTION */
.description {
    padding-top: 80px;
    padding-bottom: 80px;
    min-height: 969px;
    width: 100%;
}
.sectionHeadline {
    font-weight: 600;
    font-size: 40px;
    line-height: 56px;
    text-align: center;
    color: #191C1F;
}
.description__table {
    margin-top: 65.5px;
    margin-bottom: 80px;
}
.table {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 32px;
}
.table__element {
    max-width: 280px;
    min-height: 168px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.table__image {
    height: 72px;
    width: 72px;
    position: relative;
}
.table__image > img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.table__headline {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #191C1F;
}
.table__paragraph {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #5E646A;
}
/* DESCRIPTION BOTTOM SECTION */
.description__bottom {
    width: 100%;
    min-height: 448px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.description__left {
    /* 592px ширина по макету */
    /* max-width: 592px; */
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center; 
    flex-direction: column;
}
.description__right {
    width: 50%;
    max-width: 592px;
    height: 100%;  
}
.description__image {
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.description__image > img {
    /* position: absolute;
    display: block;
    right: 0; */
    width: 100%;
}
.description__bottomHeadline {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #191C1F;
    margin-bottom: 18px;
}
.description__bottomParagraph {
    height: 140px;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #5E646A; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* REVIEWS SECTION*/
.reviews {
    width: 100vw;
    min-height: 564px;
    padding-top: 57px;
    background: #F6F8FA;
}
.card {
    background: #FFFFFF;
    box-shadow: 0px 5px 24px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 341px;
    min-height: 316px;
    padding: 22px;
    margin: 32px 16px 50px;
}
.card__top {
    display: flex;
    margin-bottom: 20px; 
}
.card__ava {
    width: 44px;
    height: 44px;
    margin-right: 16px;
}
.card__ava > img {
    width: 100%;
    height: 100%
}
.card__details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card__name {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #191C1F;
}
.card__city {
    color: #5E646A;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
}
.card__content {
    color: #191C1F;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    display: flex;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slider {
    position: relative;
    /* по макету вообще-то 40 */
    padding: 0 40px;
    /* margin-top: 32px; */
}
.slider .slick-arrow{
    position: absolute;
    top: 50%;
    margin-top: -65px;
    z-index: 10;
    /* убираем надписи с кнопок */
    font-size: 0;
}
/* Стрелка влево */
.slider .slick-arrow.slick-prev{
    left: 0;
    background: url('../img/arr-left.png') 0 0 / 100% no-repeat;
    width: 17px;
    height: 32px;
}
.slider .slick-arrow.slick-prev:hover{
    background: url('../img/arr-left-hover.png') 0 0 / 100% no-repeat;
}
/* Стрелка вправо */
.slick-arrow.slick-next{
    right: 0;
    width: 17px;
    height: 32px;
    background: url('../img/arr-right.png') 0 0 no-repeat;
}
.slick-arrow.slick-next:hover{
    background: url('../img/arr-right-hover.png') 0 0 no-repeat;
}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slider .slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider .slick-dots li{
    /* list-style: none; */
    margin: 0px 8.5px 45px;
}
/* Активная точка */
.slider .slick-dots li.slick-active button {
    background-color: #2A6CEA;
}
/* Элемент точки */
.slider .slick-dots li button{
    font-size: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color:  #ECEFF2;
}
.slider__item {
    /* надо ли эьло? */
    text-align: center;
}
/* QA SECTION */
.qa {
  min-height: 800px; 
  padding-top: 80px; 
  padding-bottom: 80px;
  width: 100%;
}
.accordion {
    /* max-width: 52%; */
    max-width: 1008px; 
    margin: 2.14% auto 0;
}
.accordion__container{
    width: 100%;
    position: relative;
    border-top: 1px solid #F6F8FA;
    border-bottom: 1px solid #F6F8FA;
}

.accordion__label {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
}
.small-headline {
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: #191C1F;
}
.accordion__button {
    margin-left: 20px;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    background: url('../img/plus.png') 0 0 no-repeat;
}
.accordion__label:hover .accordion__button{
    width: 24px;
    height: 24px;
    background: url('../img/plus-active.png') 0 0 no-repeat;
}
.accordion__label:hover .small-headline {
    color: #2A6CEA;
}
.accordion__container.active .accordion__label:hover .accordion__button{
    background: url('../img/cross-active.png') 0 0 no-repeat;
}
.accordion__content {
    position: relative; 
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #5E646A;
    max-height: 0;
    overflow: hidden;
    transition: all .5s;
    
}
.accordion__content > p {
    padding-bottom: 24px;
}
.accordion__container.active .accordion__content {
    max-height: 100%;
}
.accordion__container.active .accordion__button{
    background: url('../img/cross.png') 0 0 no-repeat;
}

/* TEXT GRID SECTION */
.textGrid {
    min-height: 662px;
    /* ??? */
    padding-top: 68px;
    padding-bottom: 68px;
    background: #F6F8FA;
}
.textGrid__container {
    display: grid;
    /* grid-template-columns: ;
    grid-template-rows: ; */
    grid-template: repeat(2, 1fr)/repeat(2, 1fr);
    grid-row-gap: 37px;
    grid-column-gap: 32px;
    margin: 0 auto;
}
.textGrid__card {
    max-width: 592px;
    min-height: 241px;
}
.texrGrid__cardBottom {
    margin-top: 17px;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #191C1F;
}
/* CONTACT SECTION */
.contact {
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 1px solid #ECEFF2;
}
.contact__form {
    display: grid;
    /* grid-template: repeat(2, 64px)/repeat(2, 384px); */
    grid-template: repeat(2, 64px)/repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 32px;

    max-width: 800px;
    min-height: 158px;
    margin: 0 auto;
    margin-top: 44px;
}    
.contact__input {
    max-width: 384px;
    background: #F6F8FA;
    border: 2px solid #F6F8FA;
    border-radius: 4px;
    padding: 16px;

    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #5E646A;
}
.chekbox-container label {
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
}
.form-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.form-checkbox+label {
    display: inline-flex;
    align-items: center;
}
.form-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid #C2C8CD;
    border-radius: 4px;
    margin-right: 16px;
    padding: 6px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 85%;
}
.form-checkbox:checked+label::before {
    border-color: #2A6CEA;;
    background-color: #2A6CEA;;
    background-image: url('../img/checked.png');
  }
.contact__button {
    background-color: #2A6CEA;
    color: white;
}
/* FOOTER */
.footer {
    padding: 28px 0;
}
.footer__copy {
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #191C1F;
    width: 266px;
    height: 32px;
    margin: 0 auto;
}

.toggleMenu {
    display: none;
}

@media(max-width: 991px) {
    section, footer {
        padding: 0 10%;
    }
    header {
        padding: 28px 10%;
    }
    nav {
        display: none;
    }
    nav.active {
        display: block;
        position: fixed;
        width: 100vw;
        height: 100%;
        left: 0;
        top: 0;
    }
    nav.active .nav {
        width: 100vw;
        height: 100%;
        padding: 0 10%;
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background: white;
        color: black;
    }
    nav.active .nav__elem, 
    nav.active .nav__link, 
    .logo.active {
        color: black;
    }
    .burgerMenu {
        margin-right: 5px;
        display: block;
        width: 40px;
        height: 40px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        transition: .5s;
    }
    .burgerMenu span{
        transition: .5s;
        width: 100%;
        height: 2px;
        background-color: black;
    } 
    .burgerMenu.active {
        transform: translateX(-10px);
    }
    .burgerMenu.active span:first-child {
        transform: rotate(45deg) translateX(15px) ;
    }
    .burgerMenu.active span:last-child {
        transform: rotate(-45deg) translateX(13.5px);
    }
    nav.active .nav__elem:first-child {
        border-top:  1px solid #83898F;
    }
    nav.active .nav__elem {
        height: 65px;
        width: 100%;
        border-bottom: 1px solid #83898F;
        position: relative;
    }
    nav.active .nav__elem:hover a {
        border-bottom: 1px solid black;
        color: black;
    }
    nav.active .nav__elem::after {
        content: '';
        background: url('../img/link-arrow.png');
        width: 8px;
        height: 14px;
        background-repeat: no-repeat;
        position: absolute;
        top: 35%;
        right: 20px;
    }
    nav.active .nav__link {
        font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #83898F;
    line-height: 62px;
    }

    .textGrid {
        padding-top: 20px; 
        padding-bottom: 20px;
    }

    .textGrid__container {
        display: grid;
        grid-template: repeat(4, auto)/repeat(1, 1fr);
        grid-row-gap: 37px;
        grid-column-gap: 32px;
        margin: 0 auto;
    }

    .banner__button {
        margin-top: 40px;
    }
    .description__table {
        margin-bottom: 50px;
    }
.table {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 32px;
}
.table__element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.table__element div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.table__image {
    flex-shrink: 0;
    margin-right: 16px;
}
.table__image img {
    width: 100%;
}
.reviews .sectionHeadline {
    padding-top: 33px;
}
}
@media(max-width: 768px) { 
    .reviews {
        padding: 0 21px;
    }
    
    .slider {
        padding: 0;
    }
    .slider .slick-arrow, 
    .slick-arrow.slick-next,
    .slick-arrow.slick-prev {
        display: none;
        opacity: 0;
    }
    .slogan__headline {
        margin: 172px 44px 0;
        font-size: 40px;
    }
}
@media(max-width: 376px) {
    section, footer {
        padding: 2px 21px;
    }
    header {
        padding: 28px 21px;
    }
    nav.active .nav {
        padding-right: 21px;
        padding-left: 21px;
    }
    .slogan__headline {
        margin: 172px 44px 0;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
    }
    .slogan__subline {
        font-size: 16px;
        line-height: 28px;
        text-align: center;
    }
    .banner__button {
        margin-top: 26px;
    }
    .table {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 32px;
    }
    .contact__form {
        grid-template: repeat(4, 64px)/repeat(1, 1fr);
    }

}

@media(max-width: 600px) {
    .contact__form {
        grid-row-gap: 30px;
        grid-column-gap: 24px;
        max-width: 600px;
    }
    .contact__input {
        max-width: 340px;
        width: 100%;
    }
    .table {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 32px;
    }
    .table__element  {
        width: 100%;
        max-width: 100%;
    }
    .table__element .table__text {
        flex-grow: 1;
        width: 100%;
    }
    .description__table {
        margin-bottom: 0px;
    }
    .description__right {
        margin-bottom: 27px;
    }
    .description__left {
        margin-bottom: 27px;
    }
    .card {
        width: 288px;
        min-height: 335px;
        margin: 26px 16px 38px;
    }
    .description__bottom {
        margin-top: 20px;
        flex-direction: column-reverse;
    }
    .description__left {
        width: 100%;
        text-align: center;
    }
    .description__right {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
   
}